# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Src_Cpp/.vs/Src_Cpp/v15
/Src_Cpp/Src_Cpp/Debug/Src_Cpp.tlog
/Src_Cpp/Src_Cpp/Debug
/Src_Cpp/Debug
/.vs
